/* Imports */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500&display=swap');

/* Colors */

:root {
    --main-color: #7f1734;
    --medium-color: #edd8da;
    --soft-color: #ffffff;
}

/* Init */

*{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
 
 }
 html{
     scroll-behavior: smooth;
 }
 /* Header */
 header{
     background-color: var(--main-color);
     padding: 5px 0;
     height: 25vh;
     position: sticky;
     top: 0;
     
 }
 .box{
     width: 70%;
     position: relative;
     margin:  0 auto;
     position: sticky;
 }
 nav{
     position: absolute;
     top: 110px;
     right: 0;
    
 }
 nav li{
     display: inline;
     margin: 0px 15px 0 0;
     
 }
 nav li a:hover{
     color: #af6771;
 
 }
 nav a{
     text-transform: uppercase;
     color: #fff;
     font-weight: bold;
     font-size: 35px;
     text-decoration: none;
 }
 
 /****************************************************HOME**************************************************************/
 
.section-home{
    display: block;
    background-color: #984252;
    width: 100%;    
    height: 70vh;
}

.title-subtitle{
    float: left;
    margin:5% 5%;
    width: 40%;
}
.title-subtitle h4,p{
    letter-spacing: 2px;
    text-transform:uppercase;
    text-align:justify ;
    overflow:hidden;
    color: #fff;    
    font-size: 26px;

}
.image img{
    width: 50%;  
    height: 70vh; 
    
}

/* The Event */

#event {
    display: flex;
    height: 100vh;
    width: 100%;
    flex-direction: row;
    background-color: #c48c93;
}

.left-box {
    float: left;
    width: 50%;
}

.right-box {
    float: right;
    width: 50%;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
    margin: 0 5%;
}

.video {
    width: 50rem;
    height: 30rem;
}

.subtitle {
    text-transform: uppercase;
    margin: 0 auto;
    font-size: 2.7rem;
    letter-spacing: 1px;
    text-align: center;
    color: #7f1734;
    max-width: 800px;
}

.description {
    font-size: 1.2rem;
    color: black;
    margin: 50px auto;
}

.box-content {
    background-color: #ffffff;
    padding: 10% 5%;
    margin: 0 auto;
    border-radius: 12px;
    border-style: solid;
    border-color: #984252;
    border-width: 5px;
    text-align: center;
}

/* About */

#about {
    display: flex;
    height: 100vh;
    width: 100%;
    flex-direction: row;
    background-color: #d9b2b5;
}

.img-description {
    font-style: italic;
    font-size: 1.4rem;
    margin-top: 40px;
}

.box-content img {
    width: 100%;
}

/* Contact */

#contact {
    display: flex;
    height: 100vh;
    width: 100%;
    flex-direction: row;
    background-color: #d8babc;
}

.form-content {
    padding: 10% 5%;
    margin-right: 5%;
    text-align: left;
}

.form-group {
    margin-bottom: 1rem;
}

.form-control {
    width: 100%;
    padding: 0.375rem 0.7rem;
    font-size: 1.2rem;
    line-height: 1.7;
    border-radius: 10px;
    border-style: solid;
    border-color: var(--main-color);
    border-width: 4px;
    font-family: 'Poppins', sans-serif;
}

.form-group label {
    font-size: 1.2rem;
    text-transform: uppercase;
    margin-left: 10px;
    font-family: 'Poppins', sans-serif;
    font-size: 1.4rem;
    font-weight: 500
}

/* Boton del formulario */

.btn {
    font-size: 1.2rem;
    padding: 14px 23px;
    cursor: pointer;
    font-weight: bold;
    letter-spacing: 4px;
    border-radius: 4px;
    margin-top: 10px;
    text-transform: uppercase;
}

.btn-light {
    background: var(--main-color);
    border: 1px solid var(--medium-color);
    color: rgb(255, 255, 255);
    width: 100%;
}

.btn-light:hover {
    background: var(--medium-color);
    border: 1px solid var(--main-color);
    color: var(--main-color);
}

.parallax {
    /* The image used */
    background-image: url("/source/parallax-bg.jpg");
  
    /* Set a specific height */
    min-height: 500px;
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .text-white {
    color: #fff;
  }

  .opacity-0{
    opacity: 1.0;
  }

  .opacity-1{
    opacity: 0.6;
  }

/*************************************WEATHER*************************************************/

.section-weather-box{
    width: 100%;
    height: 100vh;
    background: var(--medium-color);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card{
    border: 0.3rem solid var(--main-color);
    border-radius: 2rem;
    width: 50%;
    height: 40vh;
    margin: auto;
    background: url(../source/background-2660437_1920.jpg);
}

.tag-text{
    color: var(--soft-color);
    font-size: 1.4rem;
    text-align: center;
    text-transform: uppercase;
}

.name-city, .description-weather,.temperature{
    margin-top: 5%;
    text-align: center;
    color: #fff;    
}

.name-city{
    font-size: 2rem;
}

.description-weather,.temperature{
    font-size: 1.5rem;
}

.weather-icon {
    margin: auto;
}

.temperature {
    margin: auto;
}

.temp-info {
    display: flex;
    flex-direction: column;
}

/***********************************************FOOTER SECTION*********************************************************/
.footer-section{
    background: url(../source/background-2660437_1920.jpg);
    height: 40vh;
    width: 100%;
    text-align: center;
}

.footer-section p{
 margin-top: 1rem;
 text-align: center;
}

.contact li{
    display: inline-block;
}

.contact li img{
width: 150px;
height: 150px;

}

.contact li a{
    text-decoration: none;
}