*{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
    box-sizing: border-box;
 
 }
 /* Header */
 header{
     background-color: #82141F;
     padding: 20px 0;
 }
 .box{
     width: 70%;
     position: relative;
     margin:  0 auto;
 }
 nav{
     position: absolute;
     top: 110px;
     right: 0;
 }
 nav li{
     display: inline;
     margin: 0px 15px 0 0;
     
 }
 nav li a:hover{
     color: #af6771;
 
 }
 nav a{
     text-transform: uppercase;
     color: #fff;
     font-weight: bold;
     font-size: 35px;
     text-decoration: none;
 }
 
 /****************************************************HOME**************************************************************/
 
.section-home{
    display: block;
    background-color: #984252;
    width: 100%;
    
}

.title-subtitle{
    float: left;
    margin:5% 5%;
    width: 40%;
}
.title-subtitle h4,p{
    letter-spacing: 2px;
    text-transform:uppercase;
    text-align:justify ;
    overflow:hidden;
    color: #fff;    
    font-size: 28px;

}
.image img{
    width: 50%;
   
    
}
